In [4]:
!pip install bs4 

#helps us install requests

Requirement already satisfied: bs4 in c:\users\baby_\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\baby_\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\baby_\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [7]:
from bs4 import BeautifulSoup #helps in web scraping
import requests # helps us to download a web page

In [8]:
import pandas as pd # helps us download pd for Data Frames

In [9]:
url ='https://thevolleyballanalyst.wordpress.com/2021/03/29/establishing-weights-for-the-quality-of-the-pass-addressing-the-weight-of-reception-errors-and-overpasses/'

#defining the web address as url

In [12]:
data = requests.get(url).text

#convert the website into text

In [14]:
soup = BeautifulSoup(data,"html5lib")

# it parses(?) the document.  not sure what the html5lib is

In [15]:
tables = soup.find_all('table')

# finds all tables on the webpage

In [17]:
len(tables)

# len takes us how many tables there are.  I know there's only one

1

In [16]:
table1 = soup.find('table')
# if there was more tables, there was a way to find which table it was (1, 2, 3 etc)
# i used find function as it finds the first table because i know there's only one table

print(table1)

# prints the table.  useful to see what headings was used

<table width="547">
<tbody>
<tr>
<td width="64">Rank (New)</td>
<td width="161">Player</td>
<td width="130">Team</td>
<td width="64">Pass Rating (New)</td>
<td width="64">Pass Rating (Old)</td>
<td width="64">Rank (Old)</td>
</tr>
<tr>
<td>1</td>
<td>Elizabeth DOWD</td>
<td>Durham Palatinates</td>
<td>3.53</td>
<td>2.76</td>
<td>1</td>
</tr>
<tr>
<td>2</td>
<td>Bruna BON</td>
<td>Durham Palatinates</td>
<td>3.48</td>
<td>2.61</td>
<td>2</td>
</tr>
<tr>
<td>3</td>
<td>Mechell DANIEL</td>
<td>Tendring (Essex)</td>
<td>3.39</td>
<td>2.24</td>
<td>11</td>
</tr>
<tr>
<td>4</td>
<td>Guilia RASTELLI</td>
<td>Polonia SideOut</td>
<td>3.38</td>
<td>2.47</td>
<td>3</td>
</tr>
<tr>
<td>5</td>
<td>Ada ADAMEK</td>
<td>Polonia SideOut</td>
<td>3.38</td>
<td>2.35</td>
<td>8</td>
</tr>
<tr>
<td>6</td>
<td>Mia MERINO</td>
<td>TeamBU Wessex</td>
<td>3.35</td>
<td>2.45</td>
<td>4</td>
</tr>
<tr>
<td>7</td>
<td>Adriadne SIERRA</td>
<td>Malory Eagles UEL</td>
<td>3.34</td>
<td>2.42</td>
<td>5</td>
</tr>
<tr>
<td>8</td>
<td>Maggie STEWARD</td>
<td>Cambridge &amp; ARU</td>
<td>3.32</td>
<td>2.38</td>
<td>6</td>
</tr>
<tr>
<td>9</td>
<td>Angela VAMVOUSKI</td>
<td>London Inter Orcas</td>
<td>3.29</td>
<td>2.21</td>
<td>13</td>
</tr>
<tr>
<td>10</td>
<td>Anna TSOUMI</td>
<td>London Inter Orcas</td>
<td>3.28</td>
<td>2.37</td>
<td>7</td>
</tr>
<tr>
<td>11</td>
<td>Katarzyna PLUCINSKA</td>
<td>Polonia SideOut</td>
<td>3.27</td>
<td>2.15</td>
<td>18</td>
</tr>
<tr>
<td>12</td>
<td>Jana PARMOVA</td>
<td>London Inter Orcas</td>
<td>3.26</td>
<td>2.27</td>
<td>10</td>
</tr>
<tr>
<td>13</td>
<td>Ausra MOHANDAS</td>
<td>Cambridge &amp; ARU</td>
<td>3.26</td>
<td>2.04</td>
<td>25</td>
</tr>
<tr>
<td>14</td>
<td>Lara PICHT</td>
<td>TeamBU Wessex</td>
<td>3.23</td>
<td>2.17</td>
<td>16</td>
</tr>
<tr>
<td>15</td>
<td>Martha BULLEN</td>
<td>Nottingham Uni</td>
<td>3.23</td>
<td>2.10</td>
<td>23</td>
</tr>
<tr>
<td>16</td>
<td>Sophie SZYSZKO</td>
<td>Malory Eagles UEL</td>
<td>3.22</td>
<td>2.05</td>
<td>24</td>
</tr>
<tr>
<td>17</td>
<td>Petra LINDOVSKA</td>
<td>Cambridge &amp; ARU</td>
<td>3.21</td>
<td>2.20</td>
<td>15</td>
</tr>
<tr>
<td>18</td>
<td>Liz LEAHY</td>
<td>Tendring (Essex)</td>
<td>3.21</td>
<td>2.24</td>
<td>12</td>
</tr>
<tr>
<td>19</td>
<td>Ramey GARDNER</td>
<td>Malory Eagles UEL</td>
<td>3.20</td>
<td>2.14</td>
<td>20</td>
</tr>
<tr>
<td>20</td>
<td>Chiara RANZUGLIA</td>
<td>London Inter Orcas</td>
<td>3.17</td>
<td>2.14</td>
<td>19</td>
</tr>
<tr>
<td>21</td>
<td>Elizabeth MANN</td>
<td>Nottingham Uni</td>
<td>3.16</td>
<td>2.21</td>
<td>14</td>
</tr>
<tr>
<td>22</td>
<td>Yulia TOKARENKO</td>
<td>Polonia SideOut</td>
<td>3.15</td>
<td>2.27</td>
<td>9</td>
</tr>
<tr>
<td>23</td>
<td>Kelsee SAWYER</td>
<td>Nottingham Uni</td>
<td>3.15</td>
<td>2.13</td>
<td>21</td>
</tr>
<tr>
<td>24</td>
<td>Nina VOGRIC</td>
<td>London Inter Orcas</td>
<td>3.15</td>
<td>2.17</td>
<td>17</td>
</tr>
<tr>
<td>25</td>
<td>Susana VEIGA</td>
<td>Durham Palatinates</td>
<td>3.11</td>
<td>2.00</td>
<td>28</td>
</tr>
<tr>
<td>26</td>
<td>Madison WEG</td>
<td>TeamBU Wessex</td>
<td>3.09</td>
<td>1.95</td>
<td>30</td>
</tr>
<tr>
<td>27</td>
<td>Madison HUNZIKER</td>
<td>Tendring (Essex)</td>
<td>3.05</td>
<td>1.90</td>
<td>31</td>
</tr>
<tr>
<td>28</td>
<td>Molly Oâ€™HAGAN</td>
<td>Nottingham Uni</td>
<td>3.04</td>
<td>2.12</td>
<td>22</td>
</tr>
<tr>
<td>29</td>
<td>Heather REITZFELD</td>
<td>Bristol VC 1</td>
<td>3.04</td>
<td>2.02</td>
<td>26</td>
</tr>
<tr>
<td>30</td>
<td>Emily BELL</td>
<td>Tendring (Essex)</td>
<td>3.00</td>
<td>1.84</td>
<td>32</td>
</tr>
<tr>
<td>31</td>
<td>Eleanor BARNETT-WRIGHT</td>
<td>Durham Palatinates</td>
<td>2.99</td>
<td>1.98</td>
<td>29</td>
</tr>
<tr>
<td>32</td>
<td>Gabriela DURCZYNSKI</td>
<td>Bristol VC 1</td>
<td>2.97</td>
<td>2.02</td>
<td>27</td>
</tr>
<tr>
<td>33</td>
<td>Rebecca RICE</td>
<td>Nottingham Uni</td>
<td>2.97</td>
<td>1.81</td>
<td>33</td>
</tr>
<tr>
<td>34</td>
<td>Laura FUNK</td>
<td>Cambridge &amp; ARU</td>
<td>2.90</td>
<td>1.80</td>
<td>34</td>
</tr>
<tr>
<td>35</td>
<td>Lizz DONALDSON</td>
<td>Bristol VC 1</td>
<td>2.90</td>
<td>1.58</td>
<td>41</td>
</tr>
<tr>
<td>36</td>
<td>Brianna GARDNER</td>
<td>TeamBU Wessex</td>
<td>2.88</td>
<td>1.75</td>
<td>37</td>
</tr>
<tr>
<td>37</td>
<td>Shona FRASER</td>
<td>Durham Palatinates</td>
<td>2.86</td>
<td>1.68</td>
<td>39</td>
</tr>
<tr>
<td>38</td>
<td>Gemma MACIA ROMERO</td>
<td>Bristol VC 1</td>
<td>2.81</td>
<td>1.75</td>
<td>36</td>
</tr>
<tr>
<td>39</td>
<td>Anna KEEFE</td>
<td>Nottingham Uni</td>
<td>2.80</td>
<td>1.70</td>
<td>38</td>
</tr>
<tr>
<td>40</td>
<td>Francesca TANTUSSI</td>
<td>Cambridge &amp; ARU</td>
<td>2.78</td>
<td>1.80</td>
<td>34</td>
</tr>
<tr>
<td>41</td>
<td>Ana VILFAN</td>
<td>Polonia SideOut</td>
<td>2.76</td>
<td>1.59</td>
<td>40</td>
</tr>
</tbody>
</table>

In [17]:
# i basically copied this code from the labs and changed some of names

passing_data = pd.DataFrame(columns=["Rank (New)","Player","Team","Pass Rating (New)","Pass Rating (Old)","Rank (Old)"])

# i think it uses panda (pd) to create columns

for row in table1.tbody.find_all("tr"): 
    col = row.find_all("td") 
    if (col != []):
        RankNew = col[0].text
        Player = col[1].text
        Team = col[2].text
        PassRatingNew = col[3].text
        PassRatingOld = col[4].text
        RankOld = col[5].text
        passing_data = passing_data.append({"Rank (New)":RankNew,"Player":Player,"Team":Team,"Pass Rating (New)":PassRatingNew,"Pass Rating (Old)":PassRatingOld,"Rank (Old)":RankOld},ignore_index=True)
        
        # some coding i don't fully understand but the for and in means it's repeating a process of finding "tr" (new rows?)
        # then "td" has the data values and it places in that in the columns, which are all named
        # it uses the append function to add the data and update the passing_data file
        # the for and in function means it does it again for the new "tr"
        # not sure what the ignore index means
                
passing_data

,Rank (New),Player,Team,Pass Rating (New),Pass Rating (Old),Rank (Old)
0,Rank (New),Player,Team,Pass Rating (New),Pass Rating (Old),Rank (Old)
1,1,Elizabeth DOWD,Durham Palatinates,3.53,2.76,1
2,2,Bruna BON,Durham Palatinates,3.48,2.61,2
3,3,Mechell DANIEL,Tendring (Essex),3.39,2.24,11
4,4,Guilia RASTELLI,Polonia SideOut,3.38,2.47,3
5,5,Ada ADAMEK,Polonia SideOut,3.38,2.35,8
6,6,Mia MERINO,TeamBU Wessex,3.35,2.45,4
7,7,Adriadne SIERRA,Malory Eagles UEL,3.34,2.42,5
8,8,Maggie STEWARD,Cambridge & ARU,3.32,2.38,6
9,9,Angela VAMVOUSKI,London Inter Orcas,3.29,2.21,13
10,10,Anna TSOUMI,London Inter Orcas,3.28,2.37,7
11,11,Katarzyna PLUCINSKA,Polonia SideOut,3.27,2.15,18
12,12,Jana PARMOVA,London Inter Orcas,3.26,2.27,10
13,13,Ausra MOHANDAS,Cambridge & ARU,3.26,2.04,25
14,14,Lara PICHT,TeamBU Wessex,3.23,2.17,16
15,15,Martha BULLEN,Nottingham Uni,3.23,2.10,23
16,16,Sophie SZYSZKO,Malory Eagles UEL,3.22,2.05,24
17,17,Petra LINDOVSKA,Cambridge & ARU,3.21,2.20,15
18,18,Liz LEAHY,Tendring (Essex),3.21,2.24,12
19,19,Ramey GARDNER,Malory Eagles UEL,3.20,2.14,20
20,20,Chiara RANZUGLIA,London Inter Orcas,3.17,2.14,19
21,21,Elizabeth MANN,Nottingham Uni,3.16,2.21,14
22,22,Yulia TOKARENKO,Polonia SideOut,3.15,2.27,9
23,23,Kelsee SAWYER,Nottingham Uni,3.15,2.13,21
24,24,Nina VOGRIC,London Inter Orcas,3.15,2.17,17
25,25,Susana VEIGA,Durham Palatinates,3.11,2.00,28
26,26,Madison WEG,TeamBU Wessex,3.09,1.95,30
27,27,Madison HUNZIKER,Tendring (Essex),3.05,1.90,31
28,28,Molly Oâ€™HAGAN,Nottingham Uni,3.04,2.12,22
29,29,Heather REITZFELD,Bristol VC 1,3.04,2.02,26
30,30,Emily BELL,Tendring (Essex),3.00,1.84,32
31,31,Eleanor BARNETT-WRIGHT,Durham Palatinates,2.99,1.98,29
32,32,Gabriela DURCZYNSKI,Bristol VC 1,2.97,2.02,27
33,33,Rebecca RICE,Nottingham Uni,2.97,1.81,33
34,34,Laura FUNK,Cambridge & ARU,2.90,1.80,34
35,35,Lizz DONALDSON,Bristol VC 1,2.90,1.58,41
36,36,Brianna GARDNER,TeamBU Wessex,2.88,1.75,37
37,37,Shona FRASER,Durham Palatinates,2.86,1.68,39
38,38,Gemma MACIA ROMERO,Bristol VC 1,2.81,1.75,36
39,39,Anna KEEFE,Nottingham Uni,2.80,1.70,38
40,40,Francesca TANTUSSI,Cambridge & ARU,2.78,1.80,34
41,41,Ana VILFAN,Polonia SideOut,2.76,1.59,40